<div class="card">
  <div class="card-header">
      Recurring Transactions
  </div>
  <div *ngIf="!(loading$ | async)"  class="card-block">
    <div class="card-text flex-row" *ngFor="let temp of (unMatched$ | async)">
      <div class="flex-row">
        <strong>{{ temp.date | date:'MM/dd' }}: </strong> 
        <clr-tooltip>
          <span style="padding-left: 1rem" clrTooltipTrigger>{{temp.payee}} - {{temp.amount | absolute | currency:'USD':'symbol':'1.2-2'}}</span>
          <clr-tooltip-content clrPosition="top-right" *clrIfOpen>
            <div class="flex-column">
              <span><b>{{temp.payee}}</b></span>
              <span>{{temp.category}}</span>
              <span>{{temp.subcategory}}</span>
              <span>{{temp.amount | absolute | currency:'USD':'symbol':'1.2-2'}}</span>
            </div>
          </clr-tooltip-content>
        </clr-tooltip>
        
      </div>
      <div class="flex"></div>
      <clr-tooltip>
        <button clrTooltipTrigger class="btn btn-link btn-icon" (click)="addTransactionFromTemplate(temp)">
            <clr-icon shape="plus-circle" ></clr-icon>
        </button>
        <clr-tooltip-content clrSize="sm" clrPosition="left" *clrIfOpen>
            <span>Add Transaction</span>
        </clr-tooltip-content>
      </clr-tooltip>  
    </div> 
  </div>

  <div *ngIf="(loading$ | async)" class="card-block">
    <div class="flex-row flex-center">
      <span class="spinner"></span>
    </div>
  </div>
</div>
