<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a>
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">One-K Budget</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-icon">
        <clr-icon shape="wallet"></clr-icon>
      </a>
      <a class="nav-link nav-icon">
        <clr-icon shape="objects"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <!-- <router-outlet></router-outlet> -->
    <okb-transaction-list></okb-transaction-list>
    
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link">Nav 1</a>
        <a class="nav-link">Nav 2</a>
      </section>
    </nav>
  </div>
  
</div>