<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a>
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">One-K Budget</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/transaction" routerLinkActive="active">
        <span class="nav-text">Transactions</span>
      </a>
      <a class="nav-link" routerLink="/template" routerLinkActive="active">
        <span class="nav-text">Template Setup</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
  
</div>