
<div style="height:100%;" class="flex-row flex">

  <div class="sidenav flex-column widget-container">
    <okb-template-summary></okb-template-summary>
  </div>

  <div style="width: 100%">
    <header class="header header-2 flex-row flex">
      <div class="branding">
        <span class="title">Transaction Templates</span>
      </div>
      <div class="header-actions">
        <a [routerLink]="" class="nav-link" matToolTip="Add Template" (click)="togglePinnedDiv(true)">
            <span class="nav-text">Add Template</span>
        </a>
      </div>
    </header>
    
    <ag-grid-angular
      #agGrid
      style="height:calc(100% - 65px); width: 100%"
      class="ag-theme-material"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [pinnedTopRowData]="newTransactionData"
      [context]="context"
      [getRowHeight]="getRowHeight"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>
  </div>
</div>

