<button type="button" class="btn btn-icon btn-link" [matMenuTriggerFor]="menu">
    <clr-icon shape="ellipsis-vertical"></clr-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
    <button *ngIf="!params.value" mat-menu-item (click)="linkTransaction()">
        <span>Link</span>
    </button>
    <button *ngIf="params.value" mat-menu-item (click)="unlinkTransaction()">
        <span>UnLink</span>
    </button>
    <button mat-menu-item (click)="deleteTransaction()">
        <span>Delete</span>
    </button>
</mat-menu>

<ng-template #dialogPrompt></ng-template>