/* For use in src/lib/core/theming/_palette.scss */
$md-clrprimary: (
    50 : #e0f2fa,
    100 : #b3dff2,
    200 : #80cae9,
    300 : #4db5e0,
    400 : #26a5da,
    500 : #0095d3,
    600 : #008dce,
    700 : #0082c8,
    800 : #0078c2,
    900 : #0067b7,
    A100 : #e0f0ff,
    A200 : #add6ff,
    A400 : #7abdff,
    A700 : #61b0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-clraccent: (
    50 : #ffede4,
    100 : #ffd2bb,
    200 : #ffb48e,
    300 : #ff9560,
    400 : #ff7f3e,
    500 : #ff681c,
    600 : #ff6019,
    700 : #ff5514,
    800 : #ff4b11,
    900 : #ff3a09,
    A100 : #ffffff,
    A200 : #fff6f5,
    A400 : #ffcbc2,
    A700 : #ffb6a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

