/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


.rag-red {
    background-color: lightcoral;
}
.rag-green {
    background-color: lightgreen;
}

.content-container {
    height: 100%
}