<!-- style="height:662px" -->
<div style="height:100%" class="flex-row flex">

  <div class="sidenav flex-column widget-container">
    <okb-total-spend-save class="widget"></okb-total-spend-save>
    <okb-template-transaction class="widget"></okb-template-transaction>
    <okb-type-summary class="widget"></okb-type-summary>
  </div>

  <div style="width: 100%">
    <okb-transaction-header (togglePinnedDiv)="togglePinnedDiv($event)"></okb-transaction-header>

    <ag-grid-angular
      #agGrid
      style="height:calc(100% - 65px); width:100%"
      class="ag-theme-material"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [pinnedTopRowData]="newTransactionData"
      [context]="context"
      [getRowHeight]="getRowHeight"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>
  </div>
</div>
