<header class="header header-2 flex-row flex">
      
  <div class="header-nav">
    <a [routerLink]="" class="nav-link nav-icon" (click)="decreaseViewDate()">
      <clr-icon shape="angle left"></clr-icon>
    </a>
    <a [routerLink]="" class="nav-link">
      <span class="nav-text">{{ viewDate.format('MMMM YYYY') }}</span>
    </a>
    <a [routerLink]="" class="nav-link nav-icon" (click)="increaseViewDate()">
      <clr-icon shape="angle right"></clr-icon>
    </a>
  </div>
  <div class="header-actions">
      <a [routerLink]="" class="nav-link" matToolTip="Add Transaction" (click)="togglePinnedDiv(true)">
          <span class="nav-text">Add Transaction</span>
      </a>
  </div>
</header>