<div style="height:662px" class="flex-row">

  <div class="flex-column" style="padding: 8px;">
    <okb-total-spend-save></okb-total-spend-save>
    <okb-type-summary></okb-type-summary>
  </div>
  <div class="flex-column">
    <div class="flex-row flex" style="padding-top: 9px; padding-left: 8px;">
      <button class="btn btn-sm" (click)="togglePinnedDiv(true)">Add Transaction</button>
      
      <div class="flex-row reverse flex">
        <div class="flex-row">
          <button class="btn btn-link btn-icon" (click)="decreaseViewDate()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button class="btn btn-link btn-sm">Feburary</button>
          <button class="btn btn-link btn-icon"(click)="increaseViewDate()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
      <span class="flex"></span>
    </div>

    <ag-grid-angular
      #agGrid
      style="height:90%; width:100%"
      class="ag-theme-material"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [pinnedTopRowData]="newTransactionData"
      [context]="context"
      [getRowHeight]="getRowHeight"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onCellValueChanged($event)">
</ag-grid-angular>
  </div>
</div>
