<div class="card">
  <div class="card-header">
      Total Gain / Loss
      
  </div>
  <div *ngIf="!(loading$ | async)"  class="card-block">
      <clr-alert *ngIf="gainLoss < 0" clrAlertType="danger" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text card-title">
            {{ gainLoss | absolute | currency:'USD':'symbol':'1.2-2' }} Overspending
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert *ngIf="gainLoss > 0" clrAlertType="success"  [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text card-title">
            {{ gainLoss | absolute | currency:'USD':'symbol':'1.2-2' }} Saved!
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert *ngIf="gainLoss === 0" clrAlertType="info"  [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text card-title">
            No Gain / Loss
          </span>
        </clr-alert-item>
      </clr-alert>
      
      <div *ngIf="gainLoss > 0" class="card-text">
          Congrats!  You've saved {{ gainLoss | absolute | currency:'USD':'symbol':'1.2-2' }} this month. 
      </div>
      <div *ngIf="gainLoss < 0" class="card-text">
          Oops. We spent {{ gainLoss | absolute | currency:'USD':'symbol':'1.2-2' }} more than we've earned.
      </div>
      <div *ngIf="gainLoss === 0" class="card-text">
        You broke even. 
      </div>
  </div>

  <div *ngIf="(loading$ | async)" class="card-block">
    <div class="flex-row flex-center">
      <span class="spinner"></span>
    </div>
  </div>
</div>
